{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div class="ui two column centered grid">
    <div class="column">

<fieldset>
    <form enctype="multipart/form-data" class="ui form"  method="POST">{% csrf_token %}



<div class="uk-form">

    <table class="ui table">

    <div class="">
       {{ form.title }}
        <div class="ui divider"></div>
    </div>

        <div class="">
       {{ form.content }}
        <div class="ui divider"></div>
    </div>
      <tbody>
        <tr>
          <td>{{ form.assign_to.label }}<p></p>{{ form.assign_to }}</td>
          <td>{{ form.priority.label }}<p></p>{{ form.priority }}</td>
        </tr>

        <tr>
          <td>{{ form.category.label }}<p></p>{{ form.category }}</td>
          <td>{{ form.types.label }}<p></p>{{ form.types }}</td>
        </tr>

        <tr>
          <td>{{ form.depends_on.label }}<p></p>{{ form.depends_on }}</td>
          <td>{{ form.status.label }}<p></p>{{ form.status }}</td>
        </tr>

    </table>

    {{ form.file}}<p></p></form>

    <center>
    <button class="ui submit button">{% trans "Soumettre" %}</button> </center></div>


</div>
</body>
{% endblock %}



