{% extends "base.html" %}
{% load i18n %}
{% block content %}

    {% if messages %}

<ul class="messages">
    {% for message in messages %}

    <div class="" data-uk-alert="">
        <a class=""></a>
                                <p>{{ message }}</p>
                            </div>
    {% endfor %}
</ul>
{% endif %}
    <div class="ui two column centered grid">
    <div class="column">

<fieldset>

    <form class="ui form" action='' method="POST">{% csrf_token %}


 {% for field in form %}

<div class="uk-form">

    <label class="" for="form-h-it">{{ field.label_tag }}</label>
    <div class="">
       {{ field }}
        <div class="ui divider"></div>
    </div>{% endfor %}


    <center>
    <button class="ui submit button">{% trans "Soumettre" %}</button> </center></div>
        </form>


</div>
</body>

{% endblock %}



