{% extends "base.html" %}
{% block content %}
{% load filter %}
{% load i18n %}

<div class="ui padded grid">
        <div class="two column row">
          <div class="column">

              <table class="ui unstackable table">
  <thead>
    <tr>
        <th>{% trans "Nombre de ticket"%}:</th>
        <th>{% trans 'Tickets en cours de traitement'%} :</th>
        <th>{% trans "En attente d'informations"%} :</th>
        <th>{% trans 'Tickets résolus'%} :</th>
        <th>{% trans 'Tickets clos'%} :</th>
                    </tr>
                </thead>
    <tbody>
                    <tr>
                        <td class="uk-width-1-10 uk-text-center"><a href={% url "ticket.views.tickets.ticket_all" %}>
                                                                            {{ request.user | all_tick}}</a></td>
                        <td class="uk-width-1-10 uk-text-center"><a href={% url "ticket.views.tickets.ticket_list_work" %}>
                                                                            {{ request.user | ticket_open}}</a></td>
                        <td class="uk-width-1-10 uk-text-center"><a href={% url "ticket.views.tickets.ticket_list_incomplet" %}>
                                                                            {{ request.user | ticket_incomplete}}</a></td>
                        <td class="uk-width-1-10 uk-text-center"><a href={% url "ticket.views.tickets.ticket_list_resolved" %}>
                                                                            {{ request.user | ticket_resolved}}</a></td>
                        <td class="uk-width-1-10 uk-text-center"><a href={% url "ticket.views.tickets.ticket_list_clos" %}>
                                                                            {{ request.user | ticket_clos}}</a></td>
                        </tbody></table>

          </div>


          <div class="column">
          <fieldset>

{% for feed in ticket_list %}

              <div class="ui feed">
  <div class="event">
    <div class="label">

    </div>
    <div class="content"><i class="add icon"></i>{{ feed.title }}
      <div class="summary">
        <a class="user">
          {{ feed.create_by }}
        </a>
        <div class="date">
          {{ feed.created }}
        </div>
      </div>
      <div class="meta">
        <a class="like">

        </a>
      </div>
    </div>
  </div>
{% endfor %}</fieldset>





          </div>
        </div>




        <div class="row">
          <div class="column">

          </div>
        </div>
        <div class="column">

        </div>
        <div class="column">

        </div>
      </div>







</div>
    </head>
{% endblock %}