{% extends "base.html" %}

{% block content %}
{% load filter %}
<div class="uk-container uk-container-center">

<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
  <thead>
                    <tr>
                        <th>Nombre de ticket :</th>
                        <th>Tickets en cours de traitement :</th>
                        <th>Tickets résolus :</th>
                        <th>Tickets clos :</th>
                    </tr>
                </thead>

    <tbody>

                    <tr>
                        <td class="uk-width-1-4 uk-text-center">{{ request.user | all_tick}}</td>
                        <td class="uk-width-1-4 uk-text-center">{{ request.user | ticket_open}}</td>
                        <td class="uk-width-1-4 uk-text-center">{{ request.user | ticket_resolved}}</td>
                        <td class="uk-width-1-4 uk-text-center">{{ request.user | all_tick}}</td>
                        <td></td></tbody>

</table>



            <table class="uk-table uk-table-hover uk-table-striped">
                <caption>Votre historique récent:</caption>
                <thead>
                    <tr>
                        <th>Titre du ticket</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Priorité</th>
                        <th>Assigné a</th>
                    </tr>
                </thead>
                <tbody>
                {% for tick in ticket %}
                    <tr>
                        <td><a href="/ticket/id={{tick.id}}">{{ tick.title }}</a></td>
                        <td>{{ tick.created }}</td>
                        <td>{{ tick.get_status_display }}</td>
                        <td><code>{{ tick.get_priority_display  }}</code></td>
                        {%  if tick.assign_to == None %}
                            <td>
                            <span class="uk-text-warning">Pas encore assigné</span>
                        </td>
                        {% else %}
                        <td>{{ tick.assign_to }}</td>
                    {% endif %}
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}