{% extends "base.html" %}

{% block content %}

{% load filter %}
{% load i18n %}


<div class="uk-container uk-container-center">
<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
  <thead>
    <tr>
        <th>{% trans "Nombre de ticket"%}:</th>
        <th>{% trans 'Tickets en cours de traitement'%} :</th>
        <th>{% trans "En attente d'informations"%} :</th>
        <th>{% trans 'Tickets résolus'%} :</th>
        <th>{% trans 'Tickets clos'%} :</th>
                    </tr>
                </thead>
    <tbody>
                    <tr>
                        <td class="uk-width-1-10 uk-text-center">{{ request.user | all_tick}}</td>
                        <td class="uk-width-1-10 uk-text-center">{{ request.user | ticket_incomplete}}</td>
                        <td class="uk-width-1-10 uk-text-center">{{ request.user | ticket_open}}</td>
                        <td class="uk-width-1-10 uk-text-center">{{ request.user | ticket_resolved}}</td>
                        <td class="uk-width-1-10 uk-text-center">{{ request.user | ticket_clos}}</td>
                        </tbody>

</table>

{% load render_table from django_tables2 %}
            <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

    <body>
        {% render_table ticket_list%}
    </body>
</div>
    </head>
{% endblock %}