{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" /><title> Tickets </title>
<link rel="stylesheet" href="{{ STATIC_URL }}semantic.min.css" type="text/css" media="all" />

    </head>
<div class="ui two column centered grid">
    <div class="column">

                <h3 class="">Ticket</h3>
                <form class="ui form" action='' method="POST">{% csrf_token %}
                    <div class="ui form row">
                        {{ form.username }}
                    </div><p></p>
                    <div class="ui form row">
                        {{ form.password }}
                    </div>
                    <p></p>
                    <center><div class="ui form row ">
                        <button class="ui button ">Login</button>
                    </div></center>
                </form>
 </div>
</div>