{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div class="uk-container uk-container-center">
    <form class="ui form"  method="POST">{% csrf_token %}
{{ entity.name }}
    <button class="ui submit button">{% trans "Soumettre" %}</button></form>
         <p></p>

    </ul>
</nav>
{% load render_table from django_tables2 %}

        <link rel="stylesheet" href="{{ STATIC_URL }}paleblue/screen.css" />

    <body>
        {% render_table ticket_list %}
    </body>
    </div>


{% endblock %}



