{% block head %}
    {% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" /><title> Tickets </title>

<link rel="stylesheet" href="{{ STATIC_URL }}semantic.min.css" type="text/css" media="all" />


    </head>
    {% endblock %}

{% block menu %}
    {% load filter %}












    <div class="ui pointing small menu">
      <a class="active green item" href="{% url "ticket.views.home.home" %}">{{ request.user }}
        <i class="home icon"></i>
      </a>

      <a class="teal item" href="{% url "ticket.views.tickets.add_ticket" %}">{% trans "Ajouter un tickets" %}
        <i class="plus icon"></i>
      </a>

    <a class="item" href="{% url "ticket.views.stats.statistic" %}">{% trans "Statistiques" %}
        <i class=""></i>
      </a>
    <div class="ui simple dropdown item">
      {% trans "Tickets :" %}
      <i class="dropdown icon"></i>
      <div class="menu">

    <a class="item" href="{% url "ticket.views.tickets.ticket_list_work" %}">{% trans "En cours" %}
                    <div class="ui orange label">{{ request.user|ticket_open }}</div>
        <i class=""></i>
      </a>

    <a class="item" href="{% url "ticket.views.tickets.ticket_list_resolved" %}">{% trans "Résolus" %}
                    <div class="ui green label">{{ request.user|ticket_resolved }}</div>
        <i class=""></i>
      </a>

    <a class="item" href="{% url "ticket.views.tickets.ticket_list_clos" %}">{% trans "Clos" %}
        <div class="ui black label">{{ request.user|ticket_clos }}</div>

        <i class=""></i>
      </a>

    <a class="item" href="{% url "ticket.views.tickets.ticket_list_new" %}">{% trans "Nouveaux" %}
                        <div class="ui blue label">{{ request.user|ticket_new }}</div>
        <i class=""></i>
      </a></div>
    </div>

    {% if request.user.is_staff %}
    <a class="item" href="{% url "ticket.views.tickets.ticket_all" %}">{% trans "Staff" %}
        <i class=""></i>
      </a>
    <a class="item" href="{% url "ticket.views.tickets.my_ticket_assign" %}">{% trans "Vos tickets assignés" %}
        <i class=""></i>
      </a>
    {% endif %}

    {% if request.user.is_superuser%}
    <a class="item" href="/admin">{% trans "Administration" %}
        <i class="grid layout icon"></i>
      </a>
    {% endif %}

    <a class="item" href="/logout">{% trans "Déconnexion" %}
        <i class=""></i>
      </a>

    </div>
<!-- Menu-->
    {% endblock %}
<div class=" ui centered grid grid basic segment">
    <div class="column">
{% block content %}{% endblock %}

 </div>
</div>


